@page {
  size: letter portrait;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  /* Layout */
  --page-width: 8.5in;
  --page-height: 11in;
  --main-width: 6.4in;
  --sidebar-width: calc(var(--page-width) - var(--main-width));
  --timeline-horizontal-margin: 0.2in;

  --timeline-outer-offset-top: 10px;
  --timeline-outer-offset-left: -5px;
  --timeline-border-width: 1px;
  --timeline-outer-dim: 9px;
  --timeline-border: 1.6px solid #ccc;

  --row-entry-padding-top: 5pt;

  --main-entry-title-icon-offset-left: -19pt;
}

body {
  width: var(--page-width);
  height: var(--page-height);
  margin: 0;
  font-family: "Open Sans", sans-serif; /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-weight: 300;
  line-height: 1.3;
  /* hyphens: auto; */
  display: flex;
}

h1,
h2,
h3 {
  margin: 0;
  color: #000;
}

h1,
h2 {
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

main {
  width: var(--main-width);
  padding: 0.25in 0.25in 0 0.3in;
  font-size: 9pt;
}

main ul {
  padding-left: 0.07in;
  margin: 0.08in 0;
}

main li {
  margin: 0 0 0.035in 0;
}

a {
  color: inherit;
  text-decoration: underline;
}
