#title {
  margin-bottom: 0.2in;
  line-height: 1.2;

  h1 {
    text-align: center;
    font-weight: 300;
    font-size: 18pt;
    line-height: 1.5;
  }

  .subtitle {
    font-size: 9pt;
    text-align: justify;

    b {
      font-weight: bold;
    }
  }
}
