@charset "UTF-8";
@page {
  size: letter portrait;
  margin: 0;
}
* {
  box-sizing: border-box;
}

:root {
  /* Layout */
  --page-width: 8.5in;
  --page-height: 11in;
  --main-width: 6.4in;
  --sidebar-width: calc(var(--page-width) - var(--main-width));
  --timeline-horizontal-margin: 0.2in;
  --timeline-outer-offset-top: 10px;
  --timeline-outer-offset-left: -5px;
  --timeline-border-width: 1px;
  --timeline-outer-dim: 9px;
  --timeline-border: 1.6px solid #ccc;
  --row-entry-padding-top: 5pt;
  --main-entry-title-icon-offset-left: -19pt;
}

body {
  width: var(--page-width);
  height: var(--page-height);
  margin: 0;
  font-family: "Open Sans", sans-serif; /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-weight: 300;
  line-height: 1.3;
  /* hyphens: auto; */
  display: flex;
}

h1,
h2,
h3 {
  margin: 0;
  color: #000;
}

h1,
h2 {
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

main {
  width: var(--main-width);
  padding: 0.25in 0.25in 0 0.3in;
  font-size: 8.5pt;
}

main ul {
  padding-left: 0.07in;
  margin: 0.08in 0;
}

main li {
  margin: 0 0 0.035in 0;
}

#title {
  margin-bottom: 0.2in;
  line-height: 1.2;
}
#title h1 {
  text-align: center;
  font-weight: 300;
  font-size: 18pt;
  line-height: 1.5;
}
#title .subtitle {
  font-size: 9pt;
  text-align: justify;
}
#title .subtitle b {
  font-weight: bold;
}

/**** minor tweaks on the icon fonts ****/
main h2 > .fa-graduation-cap {
  left: calc(var(--main-entry-title-icon-offset-left) - 2pt);
  top: 2pt;
}

main h2 > .fa-suitcase {
  top: 1pt;
}

main h2 > .fa-folder-open {
  top: 1.5pt;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

aside {
  width: var(--sidebar-width);
  /* position: relative; */
  height: 100%;
  padding: 0.6in 0.2in;
  background-color: #f2f2f2;
  font-size: 8.5pt;
  color: #444;
}

aside section {
  margin-bottom: 0.3in;
}

aside h1 {
  font-weight: 400;
  font-size: 11pt;
  text-transform: uppercase;
}

aside a {
  color: inherit;
  text-decoration: none;
}

aside ul {
  margin-top: 0.05in;
  padding-left: 0;
  font-family: "Source Code Pro";
  font-weight: 400;
  line-height: 1.75;
}

aside .list-points li::before {
  content: "• ";
}

.skill {
  margin-bottom: 2pt;
}

.skill .name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 8pt;
}

.skill ul {
  list-style-type: none;
  margin: 0.5pt 0 8pt 0;
  padding: 0;
  font-size: 8.5pt;
}

.skill li {
  list-style-type: none;
  display: inline;
  margin: 0 1pt;
  white-space: nowrap;
}

.skill li::before {
  content: "• ";
}

/* main block - Experiences, Skills, Education */
main > section {
  margin-top: 0.1in;
}

main h2 {
  position: relative;
  top: var(--row-entry-padding-top);
  left: calc((var(--timeline-horizontal-margin)));
  font-weight: 400;
  font-size: 12pt;
  color: #555;
}

main h2 > i {
  position: relative;
  left: var(--main-entry-title-icon-offset-left);
  z-index: 1;
  color: #444;
}

.entry {
  display: flex;
  flex-flow: row wrap;
}

.entry > div {
  padding-top: var(--row-entry-padding-top);
}

/***** fine-tunes on the details block where the real juice is *****/
.details {
  flex: 1 0 0;
  padding-left: var(--timeline-horizontal-margin);
  padding-top: calc(var(--row-entry-padding-top) - 0.5pt) !important; /* not sure why but this is needed for better alignment */
}

.details header {
  color: #000;
}

.details h3 {
  font-size: 9pt;
}

.main-block:not(.concise) .details .description {
  margin: 0.1in 0 0.1in 0;
}

.concise .details .description {
  margin: 0.05in 0 0.05in 0;
}
.concise .details .description p {
  margin: 0.03in;
}

.main-block .details .description b {
  font-weight: bold;
}

.main-block:not(.concise) .entry:last-child .details .description {
  margin-bottom: 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.company {
  padding-top: 2pt;
  color: #444;
}
.company .place {
  display: inline-block;
}

.details .location::before {
  display: inline-block;
  position: relative;
  right: 3pt;
  top: 0.25pt;
  font-family: FontAwesome, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  content: "\f041";
}

.place {
  color: #444;
}

.time-period {
  color: #444;
}

main .details li::before {
  position: relative;
  margin-left: -5pt;
  right: 5pt;
  content: "•";
}

/*
 * XXX: Use two filled circles to achieve the circle-with-white-border effect.
 * The normal technique of only using one pseudo element and
 * border: 1px solid white; style makes firefox erroneously either:
 * 1) overflows the grayshade background (if no background-clip is set), or
 * 2) shows timeline line which should've been masked by the white border
 *
 */
/* Defines white border around the time dot on the time line */
.timeline::before {
  position: absolute;
  top: var(--timeline-outer-offset-top);
  left: var(--timeline-outer-offset-left);
  content: " ";
  display: block;
  width: var(--timeline-outer-dim);
  height: var(--timeline-outer-dim);
  border-radius: calc(var(--timeline-outer-dim) / 2);
  background-color: #fff;
}

/* Defines the gray time dot on the time line */
.timeline::after {
  position: absolute;
  top: calc(var(--timeline-outer-offset-top) + var(--timeline-border-width));
  left: calc(var(--timeline-outer-offset-left) + var(--timeline-border-width));
  content: "";
  display: block;
  width: calc(var(--timeline-outer-dim) - var(--timeline-border-width) * 2);
  height: calc(var(--timeline-outer-dim) - var(--timeline-border-width) * 2);
  border-radius: calc((var(--timeline-outer-dim) - var(--timeline-border-width) * 2) / 2);
  background-color: #555;
}

/* TODO: Replace the class below with padding after h2 in timeline-block */
/* extends the timeline line below h2 */
main .timeline-block h2::after {
  height: calc(var(--row-entry-padding-top) * 2);
  position: relative;
  top: calc(-1 * var(--row-entry-padding-top));
  left: calc(-1 * var(--timeline-horizontal-margin));
  display: block;
  border-left: var(--timeline-border);
  z-index: 0;
  line-height: 0;
  font-size: 0;
  content: " ";
}

.timeline {
  flex: 0 0 0;
  position: relative;
  width: 2pt;
  min-height: 100%;
  border-left: var(--timeline-border);
}

.entry:last-child .timeline {
  /* slightly shortens it */
  margin-bottom: 0.15in;
}

/*# sourceMappingURL=style.css.map */
