.space-between {
  display: flex;
  justify-content: space-between;
}

.company {
  padding-top: 2pt;
  color: #444;

  .place {
    display: inline-block;
  }
}

.details .location::before {
  display: inline-block;
  position: relative;
  right: 3pt;
  top: 0.25pt;
  font-family: FontAwesome, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  content: "\f041";
}
